.content {
  font-size: 16px;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
    line-height: 180%;
    padding: 16px 0;
  }
  h1 {
    font-size: 22px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 16px;
  }
  h5 {
    font-size: 14px;
  }
  h6 {
    font-size: 12px;
  }
  pre {
    border-radius: 10px;
    padding: 20px;
    line-height: 160%;
    font-size: 14px;
    font-weight: 400;
    font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New,
      monospace;
    margin-bottom: 12px;
  }
  p {
    line-height: 160%;
    padding: 10px 0;
  }
  ul > li {
    font-weight: 600;
    padding: 12px 0;
  }
}
