.container,
.detail-container {
  width: 60%;
  height: auto;
}
.container {
  margin: 92px auto 120px auto;
}

.detail-container {
  margin: 0 auto 120px auto;
}
.container-loading {
  position: fixed;
  width: 100%;
  height: calc(100vh - 52px);
  left: 0;
}
.catalog-box {
  position: fixed;
  width: auto;
  height: 60vh;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  overflow-y: auto;
  overflow-x: hidden;
}
.catalog-wrap {
  width: 100%;
  height: auto;
}
.catalog,
.sub-catalog {
  position: relative;
  width: 100%;
  height: 20px;
  line-height: 20px;
  cursor: pointer;
  font-size: 14px;
  padding: 5px 0;
}
.catalog {
  font-weight: 600;
}
.sub-catalog {
  padding: 5px 0 5px 20px;
  color: #666;
}
.catalog-active,
.catalog-default {
  position: absolute;
  width: 3px;
  height: 20px;
}
.catalog-active {
  background: #42b983;
  border-radius: 10px;
}
.catalog-text-active {
  color: #42b983;
  text-indent: 8px;
}
.catalog-text-default {
  text-indent: 8px;
}
.menu-icon {
  position: fixed;
  width: 28px;
  height: 28px;
  z-index: 998;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
.close-icon {
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}
.need-hide {
  display: none;
}
.back-top {
  position: fixed;
  width: 30px;
  height: 30px;
  right: 20px;
  bottom: 50px;
  z-index: 998;
  transition: all 0.3s linear;
  cursor: pointer;
}

.title {
  width: 100%;
  height: auto;
  font-size: 0.16rem;
  font-weight: 400;
  line-height: 100%;
  border-bottom: 1px solid #dfdfdf;
  padding: 10px 0;
  margin: 0.2rem 0;
}
.menu-box {
  position: fixed;
  left: 0;
  top: 60px;
  bottom: 0;
  right: 0;
  background: rgba($color: #fff, $alpha: 1);
  z-index: 999;
}
// 页面响应式布局
@media screen and (max-width: 1024px) {
  // 页面宽度小于1024px时
  .container,
  .detail-container {
    width: 90%;
  }
  .catalog-box {
    width: 100%;
    height: 100vh;
    background: #fff;
    top: 0;
    left: 0;
    transform: translateY(0);
    padding-top: 40px;
    padding-right: 0;
    z-index: 999;
  }
  .catalog-wrap {
    height: 80vh;
    overflow-y: scroll;
  }
  .catalog,
  .sub-catalog {
    width: 70%;
    margin: 0 auto;
  }
  .title {
    font-size: 0.2rem;
  }
}
