.items {
  width: 100%;
  height: auto;
  margin: 0 auto 30px auto;
}
.item-title {
  font-size: 18px;
  line-height: 160%;
  border-bottom: 1px solid #efefef;
  padding-bottom: 4px;
  color: #273849;
}
.item-sub-title {
  padding: 12px 0;
  font-size: 16px;
  line-height: 160%;
  color: #273849;
}
.item-content {
  font-size: 14px;
  line-height: 180%;
  color: #304455;
}
.item-symbol {
  color: #42b983;
}
