.content {
  width: 100%;
  margin: 0 auto;
  font-size: 14px;
  line-height: 160%;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 400;
    line-height: 180%;
    padding: 0.12rem 0;
  }
  h1 {
    font-size: 0.14rem;
  }
  h2 {
    font-size: 0.12rem;
  }
  h3 {
    font-size: 0.1rem;
  }
  h4 {
    font-size: 0.08rem;
  }
  h5 {
    font-size: 0.066rem;
  }
  h6 {
    font-size: 0.04rem;
  }
  pre {
    border-radius: 10px;
    padding: 20px;
    font-weight: 400;
    margin-bottom: 12px;
  }
  p {
    line-height: 160%;
    padding: 10px 0;
    font-weight: 300;
    font-size: 0.08rem;
  }
  img {
    display: block;
    width: 80%;
    height: auto;
    margin: 0 auto;
    cursor: pointer;
  }
  table,
  td,
  th {
    border: 1px solid #dfdfdd;
  }
  td,
  th {
    padding: 10px;
  }
  a {
    color: #42b983;
  }
}

// 页面响应式布局
@media screen and (max-width: 1024px) {
  // 页面宽度小于1024px时
  .content {
    h1 {
      font-size: 0.18rem;
    }
    h2 {
      font-size: 0.16rem;
    }
    h3 {
      font-size: 0.14rem;
    }
    h4 {
      font-size: 0.12rem;
    }
    h5 {
      font-size: 0.1rem;
    }
    h6 {
      font-size: 0.08rem;
    }
    p {
      font-size: 0.14rem;
    }
  }
}
