.items {
  width: 70%;
  height: auto;
  margin: 30px auto 0 auto;
}
.item-title {
  font-size: 18px;
  line-height: 160%;
  padding: 14px 0;
  border-bottom: 1px solid #efefef;
  color: #273849;
}
.item-sub-title {
  padding: 12px 0;
  font-size: 16px;
  line-height: 160%;
  color: #273849;
}
.item-content {
  font-size: 14px;
  line-height: 180%;
  color: #304455;
}
.item-symbol {
  color: #42b983;
}
.skill-items {
  width: 70%;
  margin: 0 auto;
}
.skill-item {
  text-align: center;
}
.skill-line-wrap,
.skill-line {
  height: 10px;
  border-radius: 10px;
}
.skill-line-wrap {
  width: 40vw;
  background: #efefef;
}

.skill-line {
  background: #42b983;
}
.skill-line-wrap,
.skill-text {
  display: inline-block;
}
.skill-text {
  width: 10vw;
  text-align: right;
  font-size: 18px;
  padding-right: 20px;
}
.title {
  font-size: 18px;
  padding: 20px 0;
}
