.items {
  width: 70%;
  height: auto;
  margin: 30px auto 0 auto;
}
.item-title {
  font-size: 18px;
  line-height: 160%;
  padding: 14px 0;
  border-bottom: 1px solid #efefef;
  color: #273849;
}
.item-sub-title {
  padding: 12px 0;
  font-size: 16px;
  line-height: 160%;
  color: #273849;
}
.item-content {
  font-size: 14px;
  line-height: 180%;
  color: #304455;
}
.item-symbol {
  color: #42b983;
}
