.header {
  position: fixed;
  width: 100%;
  height: 60px;
  border: 1px solid #efefef;
  background: #fff;
  top: 0;
  left: 0;
  z-index: 998;
}
.items {
  display: flex;
  float: left;
  width: 200px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  transition: all 0.2s linear;
}
.search-wrap {
  position: fixed;
  width: 1.4rem;
  height: 40px;
  right: 0.2rem;
  top: 10px;
  .search-input {
    position: absolute;
    width: 1.4rem;
    height: 40px;
    text-indent: 12px;
    border-radius: 8px;
    border: 1px solid #dfdfdf;
    font-size: 14px;
    &::placeholder {
      color: #999;
    }
  }
}
.item {
  flex: 1;
  font-size: 16px;
  cursor: pointer;
  &:hover {
    background: #efefef;
  }
}
.link {
  display: inline-block;
  width: 100%;
  height: 60px;
}

.item-active {
  color: #42b983;
}
