.items {
  width: 100%;
  height: auto;
}
.item {
  width: 100%;
  height: auto;
  cursor: pointer;
  margin-bottom: 28px;
}
.item-title {
  font-size: 18px;
  font-weight: 600;
}
.item-desc,
.item-time-text {
  color: rgb(136, 136, 136);
  line-height: 160%;
}
.item-desc {
  margin: 6px 0;
}
.item-time-wrap {
  height: 20px;
  line-height: 20px;
}
.item-time-text,
.item-time-icon {
  display: inline-block;
  vertical-align: middle;
}
.item-time-text {
  padding-left: 4px;
}
.item-time-icon {
  width: 10px;
  height: 10px;
}
