.items {
  width: 100%;
  height: auto;
  min-height: 68vh;
  margin-bottom: 60px;
}
.item {
  width: 100%;
  height: auto;
  cursor: pointer;
  margin-bottom: 28px;
}
.item-title {
  font-size: 18px;
  font-weight: 600;
}
.item-desc,
.item-time-text {
  color: rgb(136, 136, 136);
  line-height: 160%;
}
.item-desc {
  margin: 6px 0;
}
.item-time-wrap {
  height: 20px;
  line-height: 20px;
}
.item-time-text,
.item-time-icon {
  display: inline-block;
  vertical-align: middle;
}
.item-time-text {
  padding-left: 4px;
}
.item-time-icon {
  width: 10px;
  height: 10px;
}

.menu-box {
  position: fixed;
  left: 0;
  top: 60px;
  bottom: 0;
  right: 0;
  background: rgba($color: #fff, $alpha: 1);
  z-index: 999;
}
